In [1]:
print("Hello world")

Hello world

In [12]:
a1 = 90

In [3]:
a1

90

In [4]:
a1 = 5.9
a1

5.9

In [5]:
type(a1)

float

In [6]:
a2 = "hello"
a2

'hello'

In [7]:
type(a2)

str

In [9]:
a2 = 4
a2

4

In [15]:
a2 = True
a2
type(a2)

bool

In [10]:
type(a2)

int

In [11]:
type(a2)

int

In [16]:
# comments are written with # symbol

In [17]:
# Operators in python

In [18]:
# Arethmetic operators = +,-,*,/

In [19]:
a = 10
b = 20

In [20]:
a+b

30

In [21]:
a-b

-10

In [22]:
a+b

30

In [23]:
a*b

200

In [24]:
a/b

0.5

In [25]:
# Relational operators >,<,==,!=

In [26]:
a = 100
b = 200

In [27]:
a>b

False

In [28]:
a<b

True

In [29]:
a==b

False

In [30]:
a!=b

True

In [31]:
a=100
b=100

a == b

True

In [32]:
# logical operators &, |

In [33]:
a = True
b = False

In [34]:
a&b

False

In [35]:
b&a

False

In [36]:
b&b

False

In [37]:
a&a

True

In [38]:
a|b

True

In [39]:
b|a

True

In [40]:
b|b

False

In [41]:
a|a

True

In [1]:
#strings

In [2]:
my_string = "My name is John"

In [3]:
my_string

'My name is John'

In [4]:
my_string[0]

'M'

In [5]:
my_string[-1]

'n'

In [6]:
my_string[-2]

'h'

In [7]:
len(my_string)

15

In [9]:
my_string.upper()

'MY NAME IS JOHN'

In [10]:
my_string.lower()

'my name is john'

In [11]:
my_string[0:7]

'My name'

In [16]:
my_string.replace('John','Darshna')

'My name is Darshna'

In [18]:
new_string = "hello world, hello world, is is world"

In [19]:
new_string.count('hello')

2

In [20]:
new_string.count('world')

3

In [21]:
new_string.count('is')

2

In [22]:
new_string.find('world')

6

In [23]:
new_string.split(',')

['hello world', ' hello world', ' is is world']

In [24]:
new_string.split('world')

['hello ', ', hello ', ', is is ', '']

In [1]:
# tuples

In [2]:
tup1 = (1,"a",True,2,"b",False)

In [3]:
tup1

(1, 'a', True, 2, 'b', False)

In [4]:
type(tup1)

tuple

In [5]:
tup1[0] # index of tuple

1

In [6]:
tup1[-1]

False

In [7]:
tup1[1:5]

('a', True, 2, 'b')

In [8]:
len(tup1) # length of tuple

6

In [9]:
tup1 = (1,2,3,4)
tup2 = (5,6,7,8)

In [10]:
tup1+tup2 # concatinating of tuple

(1, 2, 3, 4, 5, 6, 7, 8)

In [11]:
tup1 = (1,2)

In [12]:
tup1*3 # Repeating of tuple

(1, 2, 1, 2, 1, 2)

In [13]:
tup2 = (3,4)

In [14]:
tup1*3+tup2 # Repeating and concatinating of tuple

(1, 2, 1, 2, 1, 2, 3, 4)

In [15]:
# tuple functions

In [16]:
tup1 = (3,78,65,99)

In [17]:
min(tup1) # tells the minimum no. in a tuple

3

In [18]:
max(tup1)  # tells the maximum no. in a tuple

99

In [1]:
# list

In [1]:
li = [1,"hello", 5.6, True]
li

[1, 'hello', 5.6, True]

In [2]:
li[0]

1

In [3]:
li[1]

'hello'

In [5]:
li[0:3]

[1, 'hello', 5.6]

In [6]:
li[0]= "hi"

In [18]:
li = [1,"hello","a", "b",3.3]
li

[1, 'hello', 'a', 'b', 3.3]

In [19]:
li.append("world")

In [20]:
li

[1, 'hello', 'a', 'b', 3.3, 'world']

In [22]:
li.pop()
li

[1, 'hello', 'a', 'b']

In [23]:
li.reverse()
li

['b', 'a', 'hello', 1]

In [24]:
li = ["banana", "apple", "mango", "watermelon", "grapes"]
li

['banana', 'apple', 'mango', 'watermelon', 'grapes']

In [25]:
li.sort()

In [1]:
#Dictionary

In [2]:
fruit = {'Apple':50, 'Orange':70, 'Banana':40, 'Guava':30}
fruit

{'Apple': 50, 'Orange': 70, 'Banana': 40, 'Guava': 30}

In [3]:
type(fruit)

dict

In [6]:
fruit.keys() # it is used to extract keys from the dictionary

dict_keys(['Apple', 'Orange', 'Banana', 'Guava'])

In [7]:
fruit.values() # it is used to extract values from the dictionary

dict_values([50, 70, 40, 30])

In [8]:
fruit

{'Apple': 50, 'Orange': 70, 'Banana': 40, 'Guava': 30}

In [9]:
fruit["mango"]=200 # to add new values and keys

In [11]:
fruit

{'Apple': 50, 'Orange': 70, 'Banana': 40, 'Guava': 30, 'mango': 200}

In [17]:
fruit['Orange']=45 # change the element Orange here with the value from 70 to 45 plus I have add the new element orange with small alphabet 'o'
fruit

{'Apple': 50,
 'Orange': 45,
 'Banana': 40,
 'Guava': 30,
 'mango': 200,
 'orange': 40}

In [19]:
fruit.pop("orange") # remove the element 
fruit

{'Apple': 50, 'Orange': 45, 'Banana': 40, 'Guava': 30, 'mango': 200}

In [22]:
f1 = {"banana":80} # update the element of f2 in f1
f2 = {"Apple":100}
f1.update(f2)

In [23]:
f1

{'banana': 80, 'Apple': 100}

In [24]:
# set

In [25]:
s1 = {1,"a",False,2,1,2}
s1

{1, 2, False, 'a'}

In [26]:
type(s1)

set

In [27]:
s1.add("hello world") # to add a new element in a set
s1

{1, 2, False, 'a', 'hello world'}

In [28]:
s1.remove(False) # to remove a new element in a set

In [29]:
s1

{1, 2, 'a', 'hello world'}

In [30]:
s1.update([10,20,30]) # to update multiple element in a set
s1

{1, 10, 2, 20, 30, 'a', 'hello world'}

In [31]:
s1 = {1,2,3}    # union of two set
s2 = {"a","b","c"}
s1.union(s2)

{1, 2, 3, 'a', 'b', 'c'}

In [32]:
s1 = {1,2,3,5,6,7}  # intersection of two set
s2 = {2,8,0,9,5,6}
s1.intersection(s2)

{2, 5, 6}

In [1]:
#if else statement

In [6]:
a=10
b=20

In [7]:
if a>b:
    print("a is greater than b")
else:
    print("a is not greater than b")

a is not greater than b

In [8]:
#elif

In [9]:
a=10
b=20
c=30

In [10]:
if a>b & a>c:
    print("a is a greatest number")
elif b>a & b>c:
    print("b is the greatest number")
else:
    print("c is the greatest number")

c is the greatest number

In [11]:
# if with tupil

In [12]:
tup = ("a","b","c","d","e")

In [14]:
if "c" in tup:
    print("c is in tuple")

c is in tuple

In [15]:
if "f" in tup:
    print("f is in tuple")
else:
    print("f is not in a tuple")

f is not in a tuple

In [16]:
# if else in list

In [17]:
li = [1,2,3,4,5]

In [18]:
if li[0]==1:
    li[0]=12

In [19]:
li

[12, 2, 3, 4, 5]

In [20]:
# if else in dictionary

In [21]:
dic = {"a":1,"b":2,"c":3,"d":4}

In [24]:
if dic["a"]==1:
    dic["a"]=dic["a"]+200

In [ ]:
# while loop

In [1]:
i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [3]:
i=1
n=2
while i<=10:
    print(n,"*",i,"=",n*i)
    i=i+1

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [5]:
li = [1,2,3,4,5]

In [6]:
i = 0
while i<len(li):
    li[i]=li[i]+100
    i=i+1

In [7]:
li

[101, 102, 103, 104, 105]

In [8]:
# for loop

In [10]:
li = ["apple","banana","mango"]

In [11]:
for i in li:
    print(i)

apple
banana
mango

In [12]:
# nested for loop

In [13]:
colors = ["oragne","blue","black"]
items = ["book","paper","pen"]

In [14]:
for i in colors:
    for j in items:
        print(i,j)

In [ ]:
# object orientend programming with python

In [ ]:
# classes and object

In [2]:
class Phone:
    def make_call(self):
        print("Make a call")
        
    def play_game(self):
        print("Play a Game")

In [3]:
p1 = Phone()

In [4]:
p1.make_call()

Make a call

In [5]:
p1.play_game()

Play a Game

In [ ]:
# Adding parameters to the class

In [11]:
class phone:
    def set_color(self,color):
        self.color=color
        
    def set_cost(self,cost):
        self.cost=cost
        
    def show_color(self):
        return self.color
    
    def show_cost(self):
        return self.cost
    
    def play_game(self):
        print("Playing a game")
        
    def make_call(self):
        print("Make a call")

In [13]:
p2 = phone()

In [16]:
p2.set_color('blue')
p2.set_cost(500)

In [17]:
p2.show_color()

'blue'

In [18]:
p2.show_cost()

500

In [19]:
p2.play_game()

Playing a game

In [20]:
p2.make_call()

Make a call

In [ ]:
# Creating a class with constructor

In [21]:
class Employee:
    
    def __init__(self,name,age,salary,gender):
        self.name = name
        self.age = age
        self.salary = salary
        self.gender = gender
        
    def employee_details(self):
        print("Name of the Employee is ",self.name)
        print("Age of the Employee is ",self.age)
        print("Salary of the Employee is ",self.salary)
        print("Gender of the Employee is ",self.gender)

In [22]:
e1 = Employee("Sam",18,25000,"male")

In [23]:
e1.employee_details()

Name of the Employee is  Sam
Age of the Employee is  18
Salary of the Employee is  25000
Gender of the Employee is  male